# Conda & virtualenv
.env
.conda
*.conda
*.egg-info/

# VSCode settings
.vscode/

# OS cruft
Thumbs.db
.DS_Store

# Jupyter notebooks checkpoints
**/.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]

# Ignore processed artefacts
data/processed/**
data/raw/** 

# EDA images
reports/figs_eda/**